{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Django App</h1>
        <p>Django es un framework web Python de alto nivel que fomenta el desarrollo rápido y un diseño limpio y pragmático. Desarrollado por desarrolladores experimentados, se encarga de gran parte de las complicaciones del desarrollo web, para que puedas concentrarte en escribir tu aplicación sin tener que reinventar la rueda..</p>
          

       <div class="text-center">
        <a class="btn btn-dark" href="/signup/">Registrarse</a>
        <a class="btn btn-primary" href="/signin/">Login</a>
       </div>
        </section>
</main>
{% endblock %}